@model AfluexFollowUpDemo.Models.ForgotPassword
@{
    ViewBag.Title = "ChangeEmployeePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

 <!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center">
    <div class="breadcrumb-title pe-3">Home</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->
@using (Html.BeginForm("ChangeEmployeePassword", "Master", FormMethod.Post, new { @id = "signupForm" }))
{
    <div class="card">
        <div class="card-body">
            <div class="border p-3 rounded">
                <h6 class="mb-0 text-uppercase">Change Password</h6>
                <hr />
                           <form class="row g-3">
                               <div class="row">
                                   <div class="col-4">
                                       <label class="form-label">Old Password</label>
                                       <input type="text" class="form-control" id="txtOldPassword">
                                   </div>
                                   <div class="col-4">
                                       <label class="form-label">New Password</label>
                                       <input type="text" class="form-control" id="txtNewPassword">
                                   </div>
                                   <div class="col-4">
                                       <label class="form-label">Confirm Password</label>
                                       <input type="text" class="form-control" id="txtConfirmPassword">
                                   </div>
                               </div>
                               <br/>
                                   <div class="col-2">
                                       <div class="d-grid">
                                           <button type="submit" name="btnChange" class="btn btn-primary" id="btnChange" onclick="return validateform()">Change</button>
                                       </div>
                                   </div>

                                   @*<div class="col-12 text-center">
                <p class="mb-0">or sign up with:</p>
            </div>
            <div class="col-12 text-center">
                <div class="error-social">
                    <a href="javascript:;" class="bg-facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="javascript:;" class="bg-twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="javascript:;" class="bg-google"><i class="bx bxl-google"></i></a>
                    <a href="javascript:;" class="bg-linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>*@
</form>
            </div>
        </div>
    </div>

}

<script>
    function validateform() {
        if ($('#txtOldPassword').val() == '') {
            $("#txtOldPassword").addClass('errortext');
            $('#txtOldPassword').focus();
            $('#txtOldPassword').val('');
            return false;
        }

        if ($('#txtNewPassword').val() == '') {
            $("#txtNewPassword").addClass('errortext');
            $('#txtNewPassword').focus();
            $('#txtNewPassword').val('');
            return false;
        }
        if ($('#txtConfirmPassword').val() == '') {
            $("#txtConfirmPassword").addClass('errortext');
            $('#txtConfirmPassword').focus();
            $('#txtConfirmPassword').val('');
            return false;
        }

        return true;
    }
</script>

<style>
    .errortext {
        border: 2px solid red !important;
        background-color: #fff0f0 !important;
    }

    .successtext {
        border: 1px solid red !important;
        background-color: #808080 !important;
    }
</style>
        
