@model AfluexFollowUpDemo.Models.ForgotPassword
@{
    ViewBag.Title = "ChangeEmployeePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


 <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center">
            <div class="breadcrumb-title pe-3">Home</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->
        @using (Html.BeginForm("ChangeEmployeePassword", "Master", FormMethod.Post, new { @id = "signupForm" }))
        {
            <div class="card">
                <div class="card-body">
                    <div class="border p-3 rounded">
                        @if (@TempData["Success"] != null)
                        {
                            <div class="alert border-0 bg-success alert-dismissible fade show py-2">
                                <div class="d-flex align-items-center">
                                    <div class="fs-3 text-white">
                                        <i class="bi bi-check-circle-fill"></i>
                                    </div>
                                    <div class="ms-3">
                                        <div class="text-white">@TempData["Success"]!</div>
                                    </div>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        @if (@TempData["Error"] != null)
                        {
                            <div class="alert border-0 bg-danger alert-dismissible fade show py-2">
                                <div class="d-flex align-items-center">
                                    <div class="fs-3 text-white">
                                        <i class="bi bi-check-circle-fill"></i>
                                    </div>
                                    <div class="ms-3">
                                        <div class="text-white">@TempData["Error"]!</div>
                                    </div>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                        <h6 class="mb-0 text-uppercase">Change Password</h6>
                        <hr />
                        <form class="row g-3">
                            <div class="row">
                                <div class="col-4">
                                    <label class="form-label">Old Password</label>
                                    <input type="password" class="form-control" id="OldPassword" name="OldPassword">
                                </div>
                                <div class="col-4">
                                    <label class="form-label">New Password</label>
                                    <input type="password" class="form-control" id="NewPassword" name="NewPassword">
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="ConfirmPassword" onchange = "return Check();">
                                </div>
                            </div>
                            <br />
                            <div class="col-2">
                                <div class="d-grid">
                                    <input class="btn btn-primary" type="submit" value="Change" id="btnChange" name="btnChange" onclick="return validateform();" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        }

<script>
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#OldPassword').val() == '') {
            $("#OldPassword").addClass('errortext');
            $('#OldPassword').focus();
            return false;
        }
        if ($('#NewPassword').val() == '') {
            $("#NewPassword").addClass('errortext');
            $('#NewPassword').focus();
            return false;
        }
        if ($('#ConfirmPassword').val() == '') {
            $("#ConfirmPassword").addClass('errortext');
            $('#ConfirmPassword').focus();
            return false;
        }
        return true;
    }

    function Check() {
        debugger
        if ($('#ConfirmPassword').val() != $('#NewPassword').val()) {

            alert("New Password And Confirm Password Not Match .")
            $('#ConfirmPassword').val('')
        }
    }

</script>
<style>
    .errortext {
        border: 2px solid #dc3545;
        border-color: #f7a5a5;
    }
</style>

